name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: KeithKhaotic
          template: classic
          base: header, activity, community, repositories, metadata
          config_presets: @lunar-red
          config_timezone: America/Chicago
          plugin_code: yes
          plugin_code_days: 3
          plugin_code_lines: 12
          plugin_code_load: 400
          plugin_code_visibility: public
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
plugin_anilist: yes
  plugin_anilist_sections: characters
  plugin_anilist_limit_characters: 22
